
@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>EmployeeDetails</h2>
<div class="container">
    <h3> Thank you !!</h3>
    <table class="table">
        <tr>
            <td> EmployeeId </td>
            <td>  @ViewBag.EmployeeId </td>
        </tr>
        <tr>
            <td>Employeename</td>
            <td> @ViewBag.Employeename</td>
        </tr>
        <tr>
            <td>Employeedesignation</td>
            <td> @ViewBag.Employeedesignation</td>
        </tr>
        <tr>
            <td>EmployeeDepartment</td>
            <td> @ViewBag.EmployeeDepartment</td>
        </tr>
        <tr>
            <td>EmployeeSalary</td>
            <td>@ViewBag.EmployeeSalary</td>
        </tr>

    </table>

</div>
